body {
  background-color: #000;
  margin: 20px;
}

.block {
  border: 1px solid #e95d49;
  padding: 10px;
}

.outer {
  box-sizing: border-box;
  width: 350px;
  background-color: #308dc0;
  margin-bottom: 40px;
}

.middle {
  background-color: #ffa500;
}

.inner {
  background-color: #ddd;
}
